.Rproj.user
.Rhistory
.RData
Figures_20160617
Figures_20160622/
analyse_geraldine.R
analyse_geraldine.R~
analyse_geraldine_cache
cache
analyse_geraldine.Rmd~
*~
Figures_20160722
Figures_20161130
*html
*tar.gz
analyse_english.html
